@import url('https://fonts.googleapis.com/css?family=Tangerine');

/* Navigation Bar Styles */
.navbar {
  margin-top: -30px;
  margin-left: -130px;
  width: 1365px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: white;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar-right {
  display: flex;
  align-items: center;
} 

.navbar h4 {
  margin: 0;
  margin-left: -50px;
  justify-content: center;
  font-family: 'Tangerine', serif;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #a19f9f;
}

.clickable-image {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
}

/* Button Styles */
.uploadbtn {
  background-color: #698fa8;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.uploadbtn:hover {
  background-color: #b6c4ce;
  color: #687a86;
}

.btn-choose {
  display: inline-block;
  background-color: #698fa8;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  margin-right: 10px;
  margin-bottom: -1.3px;
}

.btn-choose:hover {
  background-color: #b6c4ce;
  color: #687a86;
}

.btn-choose input[type="file"] {
  display: none;
}

.upload-tooltip {
  display: inline-block;
  margin: 0;
  font-size: 16px;
}

/* Additional Styles */
.btn-remove {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.btn-remove:hover {
  background-color: #c0392b;
}

.preview {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  max-width: 1365px;
  margin: 0 auto;
  margin-left: -120px;
}

.image-item {
  width: 189px;
  height: 190px;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ensures the image covers the entire container */
  object-position: center;
  cursor: pointer;
  border: 1px solid #ddd;
  width: 189px;
  height: 190px;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-bottom: white solid 6px;
}

.full-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-screen-container img {
  max-width: 90%;
  max-height: 90%;
}

.no-image-msg {
  text-align: center;
  font-size: 18px;
  color: #777;
}

.alert.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
  margin-bottom: 15px;
  z-index: -1;
}




