/* Global Styles */
body { 
  height: 100vh;
  width: 100%;
  background-color: #4d4855;
background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);

  display: flex;
  flex-direction: column;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: white;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
