@import url('https://fonts.googleapis.com/css?family=Tangerine');

h4 {
  font-family: 'Tangerine', serif;
  font-size: 36px; /* Adjusted font size to fit the navbar */
  font-weight: bold;
  text-shadow: 2px 2px 2px #a19f9f;
  margin: 0; /* Remove default margin */
}

.navbar {
  height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; /* Add some padding for spacing */
  box-shadow: 0px 4px 2px -2px gray; /* Optional: Add a shadow for better visibility */
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
}

.btn-choose {
  display: inline-block;
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  margin-right: 10px; /* Add some space between buttons */
}

.btn-choose:hover {
  background-color: #f0f0f0; /* Lighter background color on hover */
  color: black; /* Change text color on hover */
}

.btn-choose input[type="file"] {
  display: none; /* Hide the file input */
}

.btn-upload {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-upload:hover {
  background-color: #2980b9; /* Hover color */
}

.upload-tooltip {
  display: none;
  position: absolute;
  background-color: #333; /* Tooltip background color */
  color: white; /* Tooltip text color */
  padding: 5px 10px;
  border-radius: 4px;
  z-index: 1;
}

.btn-choose:hover .upload-tooltip {
  display: block; /* Show tooltip on hover */
}

.clickable-img {
  cursor: pointer;
  height: 40px; /* Adjust size as needed */
  width: auto;
}

.clickable-img:hover {
  opacity: 0.8; /* Optional: Add a hover effect */
}
