<div class="navbar">
    <div class="nav-left">
        <label class="btn-choose p-0">
            <input type="file" (change)="onFileSelected($event)" multiple #fileInput />
            <span class="upload-tooltip">Choose Images</span>
          </label>
      <button class="btn-upload" (click)="upload()">Upload</button>
    </div>
    <h4>The Gallery</h4>
    <div class="nav-right">
      <img src="path_to_your_clickable_image.jpg" alt="Clickable Image" (click)="onImageClick()" class="clickable-img" />
    </div>
  </div>
  