.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 300px;
}

h4 {
  font-family: 'Tangerine', serif;
  font-size: 100px;
  font-weight: bold;
  text-shadow: 5px 5px 5px #a19f9f;
  margin-bottom: 30px;
}
