<div class="image-preview-modal">
  <div class="comment-container" style="width: 900px; background-color: white; padding: 20px; position: relative;">
    <div style="display: flex; flex-direction: row;">
      <div style="flex: 1;" class="image-section">
        <img [src]="image?.img" [alt]="image?.imgName" class="image-preview" />
      </div>
      <div class="comment" style="flex: 2; margin-left: 20px; display: flex; flex-direction: column; justify-content: space-between;">
        <div>
          <h2>Add Comment</h2>

          <!-- Display validation error message -->
          <div *ngIf="validationError" class="alert alert-danger" role="alert">
            {{ validationError }}
          </div>

          <!-- Display existing comments -->
          <div *ngIf="comments.length > 0">
            <h3>Comments</h3>
            <ul>
              <li *ngFor="let comment of comments">
                <strong>{{ comment.username }}:</strong> {{ comment.comment_text }}
              </li>
            </ul>
          </div>
        </div>

        <div style="margin-top: 10px; padding-bottom: 10px;">
          <textarea [(ngModel)]="commentText" rows="1" cols="50" placeholder="Add your comment..."></textarea>
          <div style="margin-top: 10px;">
            <button (click)="submitComment()">Submit</button>
            <button (click)="PathBack(image, $event)">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
